html, body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-image: url('./image/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

button {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding: 6px 18px;
    border-radius: 10px;
    border: none;
    background: none;
    background-color: black;
    color: goldenrod;
    cursor: pointer;
    transition: 0.5s;
    text-transform: uppercase;
}

button:hover {
    font-size: 24px;
    background-color: rgb(4, 74, 224);
}


